body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.3em;
	background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}

p {
	margin: 0.5em 0;
}

/** Header *******************************************************************/
.header {
    text-align: left;
}

.logo-wrap {
    background-color: #2E2E2E;
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 50em;
    text-align: left;
    padding: 0;
}
.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
    line-height: 2em;
    font-size: 150%;
}

.nav {
    display: block;
    margin: 0.5em auto;
    max-width: 50em;
    text-align: left;
}

.nav li {
	list-style-type: none;
	display: inline;
	font-size: 80%;
	line-height: 2em;
    padding: 0 1em 0 0.8em;
    border-right: 2px solid gray;
    text-transform: uppercase;
}

.nav li:first-child {
    padding-left: 0;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    color: #CCC;
    text-decoration: none;
}

/** Body **/

#container {
	margin: 0 auto;
	padding: 2em 2em 2em 2.5em;
	max-width: 50em;
	text-align: left;
}


/** Home page elements *******************************************************/
h1 {
    text-transform: uppercase;
    margin: 0 0 1em 0;
    font-size: 1.5em;
    color: #eee;
}

#beforeafter, .video {
    color: white;
    background-color: black;
    text-align: center;
    height: 15em;
}

.video {
    height: 25em;
    border: thin solid #333;
    padding: 1em;
    margin-bottom: 1em;
}

#summaryband, .actions {
    background-color: #272727;
    padding: 3em;
}

#missionsharecol, #ngohelpcol {
    float: left;
    width: 49%;
}

#mission {
    font-size: 110%;
    line-height: 1.5em;
}

#share {
    height: 2em;
    color: #69C;
}

#subscribe {
    float: right;
    width: 30%;
    margin: 2.5em 5% 1em 0;
    padding: 0.3em 0.8em 0.8em 0.8em;
    background-color: #369;
    height: 1.5em;
}

#detailsband, .details {
    background-color: white;
    color: black;
    padding: 3em;
}

#detailsband a:link, #detailsband a:visited {
	color: #207CDC;
    font-weight: bold;
}
#detailsband a:hover {
	text-decoration: underline;
}

a.calltoaction:after {
    content: " >";
}

.sidefigure {
    font-size: 200%;
    font-family: Impact, sans-serif;
    color: #69C;
    font-weight: bold;
    text-transform: uppercase;

    float: left;
    margin: 0.5em 1em 0.5em 0.5em;
}

.h2-wrap {
    text-align: center;
    position: relative;
    margin: 2em 0;
}

.h2-wrap h2 {
    float: right;
    position: relative;
    left: -50%;
    margin-top: -0.5em; /* line-height / 2 */

    text-transform: uppercase;
    font-family: Impact, sans-serif;
    font-weight: normal;
    line-height: 1em;
}

.h2-inner {
    position: relative;
    left: 50%;

    background-color: white;
    padding: 0 0.5em;
}

.h2-before {
    position: relative;
    height: 1px;
    border-top: thin dashed gray;
}

#presentations, #quittingbenefits, #quittips, #helpfulsites {
    border: thin solid gray;
    margin: 0.5em;
    padding: 0.5em;
    height: 15em;
    width: 45%;
}

#presentations, #quittips {
    float: left;
}

#quittingbenefits, #helpfulsites {
    float: right;
}

/** Footer *******************************************************************/
.footer {
	font-size: 80%;
	color: #666;
	text-align: center;
	padding-top: 0.5em;
	margin-top: 0.7em;
	margin-left: -0.5em;
	clear: both;
}

/** Other styles *************************************************************/
h2 {
	margin: 1.5em 0 0.75em -0.5em;
	color: #333;
	font-size: 1.4em;
}

a {
	text-decoration: none;
}
a:link {

	color: #003994;
}
a:visited {
	color: #2D4161;
}
a:hover {
	text-decoration: underline;
	color: #0062FF;
}

a img {
	border: thin solid #CCC;
}
a:hover img {
    border: thin solid #999;
}

ul {
	margin-left: 2.5em;
	padding-left: 0;
}

li {
	line-height: 1.2em;
	margin: 0.5em 0;
}
ul.compact li {
	margin: 0.1em 0;
}

ul.inline {
	margin: 0.5em 0;
	padding: 0;
}
ul.inline li {
	display: inline;
}
ul.inline li:after {
	content: " - ";
}
ul.inline li:last-child:after {
	content: "";
}

p.read-more {
	font-style: italic;
	font-size: 90%;
	position: relative;
	top: -0.4em;
}

.abstract {
    margin-left: 2em;
    margin-right: 12em;
}

/** Side images **************************************************************/
.sideimg {
    display: block;
	margin: 0.7em 0 0.7em 0.7em;
	padding: 0em;
	border: thin solid white;
	float: right;
	clear: both;
	width: 20%;
}

.sideimg img {
    width: 100%;
}

.sideimg .caption {
    display: block;
    font-size: small;
    color: #666;
}

.thumbs img {
	border: thin solid #BBB;
	margin: 1em;
}

/** Resume *******************************************************************/
.period, .date {
	white-space: nowrap;
}

.title {
	font-style: italic;
}

.position, .school {
	margin-bottom: 0.8em;
}

.position table.position-header, .school table.position-header {
	border-spacing: 0;
	margin-bottom: 0.5em;
}

.position .employer, .school .schoolname {
	font-weight: bold;
	width: 100%; /* to make the table expand but respect floats */
}

.position .location, .school .gpa {
	font-style: italic;
	text-align: right;
	white-space: nowrap; /* to avoid getting crushed by the 100%-width employer */
}

.position .jobtitle {
	font-style: italic;
}

.position .period, .school .gpa {
	text-align: right;
}

.school .period {
	text-align: right;
	white-space: nowrap; /* to avoid getting crushed by the 100%-width schoolname */
}

.school .major {
	font-style: italic;
}

.publications .venue {
    font-style: italic;
}


.clear {
    clear: both;
}
